header {
    background: #3ac4fa;
    color: white;
    width: 100%;
}

header a {
    color: white;
    text-decoration: none;
}

.top-contacts {
    color: white;
    float: left;
    margin-top: 3px;
}

.top-contacts a {
    font-size: 18px;
    margin: 10px;
}

.top-social-icons {
    color: white;
    float: left;
    font-size: 18px;
}

.top-button {
    float: right;
	min-width: 0;
	padding: 0 29px;
	line-height: 50px;
	height: 50px;
	margin-left: 20px;
	background: #314555;
}

